<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="center-block">
        <h1 style="margin-bottom: 25px;">退会申請</h1>

        <div class="panel panel-danger">
          <div class="panel-heading"><h4>ご注意</h4></div>
          <div class="panel-body">
            退会すると、記事の作成、コメントの投稿、お気に入り機能、フォロー機能等が使用できなくなります。
          </div>
        </div>

        <div class="delete-action">
          <% if user_signed_in? && @user.id == current_user.id %>
            <div class="delete-button"><%= link_to "キャンセル", user_path(@user.id), class: "btn btn-default" %></div>
            <div class="delete-button"><%= button_to "退会", user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？" , class: "btn btn-danger " %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>