<div class="containerfluid">
  <div id="global">
    <div class="about-text">
      <span class="about-title">Care tool</span>
      <p>このサイトは、介護の悩み相談サイトです。介護に便利な道具・ちょっとした悩み等を意見交換ができます。</p>
    </div>
  </div>
</div>
