// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  background: image-url("AME19716055_TP_V.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 400px;
}