// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-text {
  padding: 50px 0;
}

.comment-item {
  width: 100%;
}

.comment-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.comment-head> :first-child {
  margin-right: auto;
}

.comment-text {
  word-wrap: break-word;
  padding-top: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.post-create-time {
  text-align: right;
}

.image-label-help {
  display: inline;
  color: #808080;
}

.posts-new-button-index {
  display: inline-block;
  margin: 10px 0;

}