<footer>
  <div class="container">
    <div class="footer-link">
      <span class="top_page_link"><%= link_to "トップページ", home_top_path %></span>
      <span><%= link_to "アバウト", root_path %></span>
    </div>
  </div>
</footer>