<div class="login-button">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-right" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-default navbar-right" %>
  <% end %>
</div>